* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: rgb(255, 255, 255);
}
/* header Css */
header {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1020;
}
.headerImage {
  max-width: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
}
.heaserlist li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 13px;
  font-size: 24px;
}
.heaserlist {
  padding: 15px 0px;
}
.heaserlist li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px 0px;
}
.btn {
  padding: 10px 20px;
  background: transparent linear-gradient(110deg, #ef512e 0%, #de0655 100%) 0%
    0% no-repeat padding-box;
  border-radius: 50rem;
}
.btn .btna {
  color: white;
  font-weight: bold;
}
.btn:hover {
  background: transparent linear-gradient(249deg, #ef512e 0%, #de0655 100%) 0%
    0% no-repeat padding-box;
}
/* header Close */

/* ***********************Golobal Style star*********************************  */

.card {
  width: 31%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: -5px 5px 19px rgb(22 22 22 / 16%);
  float: left;
  box-shadow: 0px 0px 4px 0.5px #595151c2;
  height: 610px;
}

.marginAll {
  margin: 11px;
  border-radius: 20px;
}

.fotterbtn .btncolor1 {
  background: linear-gradient(111deg, #0078ff 5%, #840dc9 100%);
}
.fotterbtn .btncolor1:hover {
  background: linear-gradient(250deg, #0078ff 5%, #840dc9 100%);
}
.fotterbtn .btncolor2 {
  background: linear-gradient(110deg, #ef512e 0%, #de0655 100%);
}
.fotterbtn .btncolor2:hover {
  background: linear-gradient(-110deg, #ef512e 0%, #de0655 100%);
}
/* ***********************Golobal Style End*************************** */
.MainContainer {
  background-color: #e1dbff;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.titelHead {
  font-size: 26px;
  font-family: HindiShiliguriBold;
  margin: 30px auto;
  border-bottom: 0.5px solid;
  width: fit-content;
  overflow: hidden;
}
.CardImg {
  width: 100%;
  min-height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.TotalCard {
  overflow: hidden;

  box-sizing: border-box;
}

.cardhad a {
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.cardhad {
  margin: 15px;
  overflow: hidden;
  font-size: 20px;
}
.CoursDetail {
  margin: 30px;
}
.CoursDetail a {
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  color: #000000c4;
}
.CoursDetail a ul {
  list-style-type: disclosure-closed;
}
.CoursDetail a ul li {
  padding: 3px;
}
.fotterbtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.fotterbtn a {
  text-decoration: none;
  padding: 12px 25px;
  margin: 5px;
  border-radius: 2rem;
  color: white;
}

/* *****************************************Card End***************************** */

/* ***************************Admichance Common***************** */
.AdCommon h1 {
  margin: 12px 0px;
  color: #c51c9e;
}
.Admichance {
  width: 21%;
}
.AdCommon {
  margin: 10px;
  text-align: center;
  /* background-color: #b5b8bb; */
  padding: 10px;
  float: left;
  border-radius: 5px;
  height: 400px;
}

.AdmiShadow-1 {
  box-shadow: inset 0px 0px 100px 10px goldenrod, inset 0px 0px 110px 15px green,
    inset 0px 0px 120px 20px #67ab36, -3px -3px 3px #39313161;
}

.AdmiShadow-2 {
  box-shadow: inset 0px 0px 100px 10px rgb(233 30 99 / 48%),
    inset 0px 0px 110px 15px rgb(6 0 128), inset 0px 0px 120px 20px #43b79e,
    -3px -3px 3px #39313161;
}
.AdmiShadow-3 {
  box-shadow: inset 0px 0px 100px 10px rgb(32, 218, 44),
    inset 0px 0px 110px 15px rgb(255, 1, 1), inset 0px 0px 120px 20px #09fcf4,
    -3px -3px 3px #81517d61;
}

.AdmiShadow-4 {
  box-shadow: inset 0px 0px 100px 10px rgb(172 39 39),
    inset 0px 0px 110px 15px rgb(255 0 0), inset 0px 0px 120px 20px #00fff7,
    -3px -3px 3px #81517d61;
}
/* ******************************Admichance Common end*************************** */

.Sucseesbody {
  overflow: hidden;
  background-color: #1d4152;
}

.Sucseesbody h1 {
  margin: 40px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
}
.Sucsesshead {
}
.AdCommon p {
  text-align: center;
  color: rgb(11, 29, 32);
}

/* Practice Code  */

.ImageSide {
  margin: 10px 0px 0px 10px;
  background-color: #0dcf75;
  padding: 10px;
}
.ImageSide img {
  float: right;
  margin-left: 8px;
  background-color: blueviolet;
  border-radius: 5px;
}
p {
  text-align: justify;
  color: fff;
  font-weight: bold;
  font-size: 20px;
}
